// [GROUP] LOADING THE BUILT-IN MODULES
// ===================================================================================================>
@use "sass:math";

// [GROUP] ROUNDING DECIMAL NUMBERS
// ===================================================================================================>
@function custom-round($number, $precision: 2) {
  $x: 1;

  @if $precision > 0 {
    @for $i from 1 through $precision {
      $x: $x * 10;
    }
  }

  @return math.div(math.round($number * $x), $x);
}

// [GROUP] DECREASE
// ===================================================================================================>
// [INFORMATION] => [Example | font-size: responsive-decrease(80px, 15px, 1600px, 768px)]
@function responsive-decrease($initial-size, $final-size, $initial-breakpoint, $final-breakpoint, $unit: vw) {
  $responsive-size: calc((100#{$unit} - #{$final-breakpoint}) / custom-round(calc(($initial-breakpoint - $final-breakpoint) / ($initial-size - $final-size))) + $final-size);

  @return clamp(#{$final-size}, #{$responsive-size}, #{$initial-size});
}

// [GROUP] INCREASE
// ===================================================================================================>
// [INFORMATION] => [Example | font-size: responsive-increase(15px, 80px, 1600px, 768px)]
@function responsive-increase($initial-size, $final-size, $initial-breakpoint, $final-breakpoint, $unit: vw) {
  $responsive-size: calc($final-size - (100#{$unit} - #{$final-breakpoint}) / custom-round(calc(($initial-breakpoint - $final-breakpoint) / ($final-size - $initial-size))));

  @return clamp(#{$initial-size}, #{$responsive-size}, #{$final-size});
}
